<header>
    <div class="container">
        <img src="https://next-minio-b2b.devcore.at/next-cms/o3BjStq3v5FOtP5vlQtfPw.png" class="logo" alt="logo">
        <nav>
            <ul>
                <li class="menu-container">
                    <a (click)="navigateTo('/')">Menu</a>
                    <div class="menu">
                        <a (click)="navigateTo('/home')">Lista de Contatos</a>
                        <a (click)="navigateTo('/profile')">Perfil</a>
                        <a (click)="navigateTo('/logout')">Logout</a>
                    </div>
                </li>
                <li>
                    <a (click)="navigateTo('/cadastrar-contato')">Cadastrar Contatos</a>
                </li>
            </ul>
        </nav>
    </div>
</header>
